section.LiteraryEras {
  // background-color: #e6ddc657;
  margin-top: 20px;
  // border-radius: 79px 0px 40px 40px;
  background-image: url("../../assets/Grain_Texture.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 441px;
  background-color: rgba(229, 216, 193, 1);
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    padding-right: 16px;
  }

  @media screen and (max-width: 450px) {
    padding-top: 0px;
    // border-radius: 40px 0px 40px 0px;
    margin-top: 5px !important;
    height: 368px;
  }
  position: relative;
  z-index: 1;
  top: 14px;

  .sec_container {
    .sec_title {
      padding-top: 123px;
      @media screen and (max-width: 992px) {
        padding-top: 32px;
      }

      h1 {
        font-family: var(--req3a-font);
        font-size: 80px;
        // font-weight: 700;
        line-height: 60px;
        letter-spacing: 1px;

        text-align: right;
        color: var(--main-blue-color);

        // @media screen and (max-width: 992px) {
        //   font-size: 48px;
        //   line-height: 46px;
        // }
        // @media screen and (max-width: 450px) {
        //   font-size: 38px;
        //   line-height: 46px;
        // }

        span {
          color: #713540;
        }

        br {
          // @media screen and (min-width: 992px) {
          //   display: none;
          // }
        }
      }
    }

    &:after {
      position: absolute;
      content: "";
      top: 104px;
      width: 122.24px;
      height: 123.07px;
      border-radius: 50%;
      background-color: rgba(246, 244, 232, 1);
      z-index: -1;
      @media screen and (min-width: 992px) {
        left: 197px;
      }

      @media screen and (max-width: 992px) {
        right: 80px;
        top: 7px;
        width: 66.88px;
        height: 66.88px;
      }
    }
    .right_branch,
    .left_branch,
    .mountains,
    .horse {
      position: absolute;
      z-index: -1;
    }

    .right_branch {
      right: 0;
      top: 0;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    .left_branch {
      @media screen and (min-width: 992px) {
        left: 0;
        top: 0;
      }
      @media screen and (max-width: 992px) {
        right: -44px;
        background-origin: 0;
        img {
          // width: 205.61px;
          height: 222px;
          object-fit: contain;
          bottom: 0;
          transform: scaleX(-1);
        }
      }
    }

    .horse {
      left: 0;
      top: 138px;
      z-index: 1;

      img {
        object-fit: contain;
      }
      @media screen and (max-width: 992px) {
        img {
          width: 175.71px;
        }
      }
    }

    .mountains {
      top: 157px;
      left: 170px;
      @media screen and (max-width: 992px) {
        left: -189px;
        top: 36px;
      }
    }
  }
}

.swiper_container {
  margin-top: -40px;
  position: relative;
  z-index: 222;
  background-color: transparent;
  @media screen and (max-width: 992px) {
    margin-top: -140px;
  }

  .leftSide {
    padding-left: 0 !important;
  }

  .swiper_slide_box:nth-child(1) {
    .box {
      background-color: rgba(17, 41, 47, 0.511) !important;
    }
  }
  .swiper_slide_box:nth-child(2) {
    .box {
      background-color: #71354086 !important;
    }
  }
  .swiper_slide_box:nth-child(3) {
    .box {
      background-color: #bb70659a !important;
    }
  }
  .swiper_slide_box:nth-child(4) {
    .box {
      background-color: #f8a24065 !important;
    }
  }
  .swiper_slide_box:nth-child(5) {
    .box {
      background-color: rgba(187, 113, 101, 0.511) !important;
    }
  }
  .swiper_slide_box:nth-child(6) {
    .box {
      background-color: rgba(34, 52, 91, 0.511) !important;
    }
  }

  .box {
    width: 277px;
    height: 346px;
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 44px;
    padding-right: 16px;
    overflow: hidden;
    border-radius: 24px;
    // padding-left: 16px;

    &:hover {
      .img_container img {
        transform: scale(1.5);
      }
    }
    .img_container {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      border-radius: 24px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
        transition: transform 0.5s ease;
        filter: grayscale(100%);
      }
    }

    .date_container {
      padding: 4px 8px 4px 8px;
      border-radius: 16px;
      background-color: rgba(255, 255, 255, 0.2);
      margin-bottom: 8px;
      p {
        font-family: var(--effra-font);
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 1);
      }
    }
    .title {
      margin-bottom: 16px;

      h4 {
        font-family: var(--effra-font);
        font-size: 38px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0px;
        text-align: right;
        color: rgba(255, 255, 255, 1);
      }
    }

    .desc {
      margin-left: 16px;

      p {
        font-family: var(--effra-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0px;
        text-align: justify;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .layer_wrap {
    position: relative;
    // z-index: 22222;
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(16, 1, 1, 0.099);
      // background-color: red;
      z-index: 1;
    }
  }
}
