section.landingPage {
  // background-color: #e6ddc657;
  margin-top: 40px;
  // border-radius: 129px 0px 40px 40px;
  background-image: url("../../assets/Grain_Texture.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 418px;
  background-color: rgba(229, 216, 193, 1);
  overflow: hidden;
  @media screen and (max-width: 450px) {
    padding-top: 16px;
    margin-top: -5px;
    // border-radius: 40px 0px 40px 40px;
  }
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/texture.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .sec_container {
    .sec_title {
      padding-top: 100px;
      @media screen and (max-width: 450px) {
        padding-top: 50px;
      }
      @media screen and (max-width: 992px) {
        padding-top: 60x;
      }

      img {
        @media screen and (max-width: 450px) {
          width: 359px !important;
        }
        @media screen and (max-width: 992px) {
          width: 450px;
        }
      }

      h1 {
        color: var(--main-blue-color);
        font-size: 124px;
        line-height: 90px;
        font-weight: 500;
        position: relative;
        z-index: 2222;
        font-family: var(--req3a-font) !important;

        @media screen and (max-width: 992px) {
          font-size: 90px;
          line-height: 80px;
        }
        @media screen and (max-width: 450px) {
          // font-size: 60px;
          line-height: 60px;
        }

        span {
          display: block;
          color: #713540;
          position: relative;
          width: fit-content;
          font-size: 80px;
          margin-top: 24px;
          @media screen and (max-width: 992px) {
            font-size: 40px;
            line-height: 24px;
          }

          br {
            @media screen and (min-width: 450px) {
              display: none;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            right: 0;
            width: 100%;
            height: 20px;
            z-index: -1;
            background-color: var(--main-white-color);
            @media screen and (max-width: 992px) {
              // bottom: -20px;
              bottom: 10px;
              display: none;
            }
          }
        }
      }
    }

    .img_container,
    .palm,
    .palm_left {
      position: absolute;
      z-index: -1;
    }

    .palm_left {
    }
    .palm {
      right: 0px;
      top: 60px;

      @media screen and (max-width: 450px) {
        right: -165px;
        top: 43px;
        svg {
          width: 578.36px;
          height: 377.19px;
        }
      }
    }
    .img_container {
      top: 0;
      left: 0;
      @media screen and (max-width: 450px) {
        top: 40% !important;
        left: 10%;
      }
      @media screen and (max-width: 992px) {
        top: 80px;
      }

      img {
        @media screen and (max-width: 450px) {
          width: 400px !important;
          height: 280px;
          object-fit: contain;
        }
        @media screen and (max-width: 992px) {
          width: 600px;
        }
      }
    }

    .palm_left {
      left: 0;
      @media screen and (min-width: 450px) {
        top: 0;
      }

      z-index: 1;
      @media screen and (max-width: 450px) {
        bottom: 0;
      }
      img {
        @media screen and (max-width: 450px) {
          object-fit: contain;
          height: 268px;
        }
      }
    }

    .mountains {
      left: 170px;
      top: 157px;
    }
  }
}

.boxes_container {
  margin-top: -40px;
  position: relative;
  z-index: 222;
  background-color: transparent;
  display: flex;

  .box {
    width: 250px;
    box-shadow: 0px 16px 80px 0px rgba(70, 99, 120, 0.1);
    background-color: rgba(255, 255, 255, 1);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #e6ddc6;
      .arrow {
        animation: moveLeft 1.5s infinite;
      }
    }

    &:last-child {
      margin-right: 24px;
    }
    @media screen and (max-width: 450px) {
      // width: 264px;
      padding: 10px;
      align-items: flex-start;
    }
    .title {
      h4 {
        font-family: var(--req3a-font) !important;
        font-size: 65px;
        // font-weight: 700;
        // line-height: 0px;
        // line-height: 0px;
        line-height: 11px !important;
        text-align: right;
        color: #713540;

        @media screen and (max-width: 992px) {
          font-size: 45px;
        }
        @media screen and (max-width: 400px) {
          font-size: 35px;
          line-height: 22px !important;
        }
      }
    }

    .icon_container {
      svg {
        width: 40px !important;
        height: 40px !important;
        path {
          fill: #713540;
        }
        @media screen and (max-width: 450px) {
          width: 33px;
          height: 33px;
        }
      }
    }

    .arrow {
      align-self: center;

      svg {
        path {
          stroke: #11292f;
        }
        @media screen and (max-width: 450px) {
          width: 10px;
          height: 10px;
        }
      }
    }

    &:first-child {
      .title {
        // margin-right: -16px;
      }
      .icon_container {
        // background-color: red;
        svg {
          width: 28px !important;
        }
        // margin-right: 10px;
        // margin-right: 10px;
      }
    }
  }
}

// Animation key frames
@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      -10px
    ); /* Change this value to control the distance */
  }
}
