header#header {
  width: 100%;
  margin-top: 60px;
  position: relative;
  .sec_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .img_container {
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
    h1 {
      color: var(--main-blue-color);
      font-family: var(--req3a-font) !important;
      font-size: 80px !important;
      font-weight: 500 !important;
      line-height: 50px !important;
    }
  }

  .red_bird {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 80x;
      height: 80px;
    }
  }
}

section.section {
  margin-top: 24px;
  margin-bottom: 70px;
  .sec_title {
    margin-bottom: 16px;
    h3 {
      color: #3e553f;
      font-family: var(--req3a-font) !important;
      font-size: 60px !important;
      text-align: center;
      font-weight: 500 !important;
    }
  }

  .swiper_container {
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      &:hover {
        .img_container {
          border-color: #ffffff !important;
          img {
            transform: scale(1.5);
          }
        }
      }

      .title {
        h4 {
          text-align: center;
          font-family: var(--req3a-font) !important;
          font-size: 30px;
          font-weight: 500;
        }
      }

      .img_container {
        border: 2px solid #e5ddc6;
        border-radius: 2px;
        box-shadow: 0px 4px 7px 0px #0000004f;
        width: 318px;
        height: 183px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 992px) {
          width: 280px;
          height: 153px;
        }

        img {
          border-radius: 2px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .more_btn {
      width: 100%;
      text-align: center;
      display: block;
      margin-top: 24px;
      a {
        color: #3e553f;
        font-size: 24px;
        font-family: var(--effra-font);
      }
    }
  }
}

section.footer {
  margin-bottom: -80px;
  height: 276px;
  @media screen and (max-width: 992px) {
    margin-bottom: -40px;
    height: 113px;
  }
  .imgs_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    height: 100%;

    .leftPlants {
      position: absolute;
      left: -5%;
      bottom: 0;
      @media screen and (max-width: 992px) {
        left: -7%;
      }
      @media screen and (max-width: 450px) {
        left: -11%;
      }
    }
    .deer {
      background-origin: 0;
      position: absolute;
      left: -5%;
      bottom: 0;
      @media screen and (max-width: 992px) {
        left: -7%;
      }
      @media screen and (max-width: 450px) {
        left: -11%;
      }
    }
    .rightPlants {
      // transform: rotate(190deg);
      transform: scaleX(-1);
      position: absolute;
      right: -5%;
      bottom: 0;
      @media screen and (max-width: 992px) {
        right: -7%;
      }
      @media screen and (max-width: 450px) {
        right: -11%;
      }
    }

    .leftPlants,
    .deer,
    .rightPlants {
      img {
        width: 592px;
        height: 408px;
        object-fit: contain;

        @media screen and (max-width: 992px) {
          width: 450px;
          height: 300px;
        }

        @media screen and (max-width: 450px) {
          width: 265px !important;
          height: 207px !important;
        }
      }
    }
  }
}
