section.about {
  padding: 124px;
  background-color: #f6efd8;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 20vh;
    width: 200px;
    height: 341px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before {
    left: 1vw;
    background-image: url("/assets/imgs/Plasma.png");
  }

  &::after {
    right: 1vw;
    background-image: url("/assets/imgs/Plasma.png");
  }

  .stars_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-direction: row-reverse;
    div {
      img {
        width: 180px;
        height: 180px;
        object-fit: contain;
      }
    }
  }

  .content_container {
    .title {
      h1 {
        font-size: 133px;
        text-align: center;
        font-weight: 500;
        // line-height: 0px;
        color: #062a30;
        transform: translateY(-60px);
      }
    }

    .desc {
      margin-top: 24px;
      margin-bottom: 80px;
      p {
        text-align: center;
        direction: rtl;
        font-size: 28px;
        font-family: var(--effra-font);
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.6em;
        color: #062a30;
      }
    }
  }
}
