.sec_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;

  .burger_icon {
    cursor: pointer;
    border: 0.8px solid #11292f;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    // transition: all 0.3s ease-in-out ;
    min-width: inherit !important;
    img {
      margin: auto;
    }

    svg {
      path {
        stroke: var(--main-white-color);
      }
    }

    &:hover {
      background-color: var(--main-white-color);

      svg {
        path,
        line {
          stroke: rgba(17, 41, 47, 1) !important;
        }
      }
    }
  }

  .nav_menu_container {
    position: absolute;
    top: 120px;
    right: 0%;
    width: 100vw;
    height: 100vh;
    z-index: -122;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #e6ddc6;
    border-radius: 16px;

    @media screen and (max-width: 450px) {
      border-radius: 0;
      top: 80px;
      // height: 100vh;
    }
    .links {
      .link {
        min-width: 394px;
        padding-bottom: 34px;
        padding-top: 34px;
        text-align: center;
        &:not(:last-child) {
          border-bottom: 1px solid var(--main-blue-color);
        }
        a {
          width: 100%;

          color: var(--main-blue-color);
          font-family: var(--effra-font);
          font-size: 24px;
          font-weight: 400;
          line-height: 46px;
          letter-spacing: 0em;
          text-align: center;
          transition: all 0.3s ease-in-out;
          display: block;
          border-radius: 30px;

          @media screen and (min-width: 992px) {
            &:hover {
              color: var(--main-white-color);
              background-color: #daceaf;
            }
          }
        }
      }
    }
    .soical_links {
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        width: 30px;
        height: 30px;
        border-radius: 75px;
        background-color: var(--main-red-color);
        display: flex;
        margin-right: 6px;
        svg {
          margin: auto;
          width: 14.12px;
          height: 10px;
        }
      }
    }
  }

  .search_icon_mobile {
    // background-color: var(--main-white-color);
    @media screen and (max-width: 992px) {
      margin-right: 10px;
      margin-left: 10px;
    }

    @media screen and (max-width: 992px) {
      display: none !important;
    }
    svg {
      path,
      line {
        stroke: var(--main-white-color);
        // transition: all 0.3s ease-in-out;
      }
    }

    color: var(--main-white-color);
    // transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--main-white-color);
      svg {
        path,
        line {
          stroke: rgba(17, 41, 47, 1) !important;
        }
      }
    }
  }

  .logo {
    cursor: pointer;
    margin-right: auto !important;
    margin-left: auto;

    @media screen and (max-width: 450px) {
      height: 60px;
    }

    img {
      width: 250px;
      height: 85px;
      object-fit: contain;
      @media screen and (max-width: 450px) {
        height: 60px;
        width: auto;
      }
    }
  }

  .discover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .search_icon {
      cursor: pointer;

      @media screen and (min-width: 992px) {
        // display: none !important;
      }

      svg {
        path,
        line {
          stroke: var(--main-white-color);
          // transition: all 0.3s ease-in-out;
        }
      }

      color: var(--main-white-color);
      // transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--main-white-color);
        svg {
          path,
          line {
            stroke: rgba(17, 41, 47, 1) !important;
          }
        }
      }
    }

    button.lang {
      margin-right: 24px;
      margin-left: 24px;

      @media screen and (max-width: 992px) {
        margin-right: 10px;
        margin-left: 10px;
      }
      padding-bottom: 0;
      padding-top: 6px;
      font-size: 18px;
      font-weight: 400;
      font-family: var(--effra-font);
      color: var(--main-white-color);
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 992px) {
        font-size: 11.25px;
        padding-top: 0px;
      }

      &:hover {
        background-color: var(--main-white-color);
        color: rgba(17, 41, 47, 1) !important;
      }
    }

    .btn_container {
      button {
        width: 154px;
        height: 48px;
        color: var(--main-white-color);
        font-size: 18px;
        font-weight: 700;
        font-family: var(--effra-font);
        border-radius: 33px;
        border: 1px solid var(--primary-dark-green, #11292f);
        line-height: 0;
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 992px) {
          width: fit-content;
          height: 60px;
          font-size: 16px;
        }
        &:hover {
          @media screen and (min-width: 992px) {
            color: #11292f;
            background-color: var(--main-white-color);
          }
        }

        cursor: pointer;
      }
    }
  }

  // Groups
  .burger_icon,
  .search_icon,
  .search_icon_mobile,
  .lang {
    cursor: pointer;
    background-color: transparent;

    border: 0.8px solid #11292f;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 50%;
    // transition: all 0.3s ease-in-out !important;
    min-width: inherit !important;

    @media screen and (max-width: 992px) {
      width: 40px;
      height: 40px;
    }

    img,
    svg {
      margin: auto;
    }
  }
}
