header#header {
  width: 100%;
  margin-top: 60px;
  position: relative;
  .sec_title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .img_container {
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
    h1 {
      color: var(--main-blue-color);
      font-family: var(--req3a-font) !important;
      font-size: 80px !important;
      font-weight: 500 !important;
      line-height: 50px !important;
    }
  }

  .red_bird {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      width: 80x;
      height: 80px;
    }
  }
}
