.swiper_container {
  margin-top: 40px;

  .box {
    display: flex;
    .box_container {
      margin: auto;
      width: 397px;
      // height: 319px;
      border: 1px solid #e5e6f2;
      margin-bottom: 20px;
      padding: 24px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 1);

      display: flex;
      flex-direction: column;

      @media screen and (max-width: 992px) {
        width: 300px;
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .img_container {
          margin-left: 10px;
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          position: relative;
          box-shadow: 0px 7.232143878936768px 5.303572177886963px 0px
            rgba(0, 0, 0, 0.05);
          overflow: hidden;
          border: 3px solid var(--main-beige-color);

          // &::after {
          //   box-shadow: 0px 7.232143878936768px 5.303572177886963px 0px
          //     rgba(0, 0, 0, 0.05);
          //   content: "";
          //   position: absolute;
          //   top: -8px;
          //   left: -8px;
          //   width: calc(100% + 16px);
          //   height: calc(100% + 16px);
          //   border: 8px solid #ffffff;
          //   border-radius: 50%;
          //   box-sizing: border-box;
          // }
          img {
            margin: auto;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .text_container {
          // margin-bottom: 16px;
          .name {
            margin-bottom: 4px;

            p {
              font-family: var(--effra-font);
              font-size: 16px;
              font-weight: 500;
              line-height: 19px;
              letter-spacing: 0px;
            }
          }
          .type {
            p {
              padding: 2.5px 8px 2.5px 8px;
              border-radius: 16px;
              background: #bb71651a;
              width: fit-content;
              font-family: var(--effra-font);
              font-size: 12px;
              font-weight: 400;
              line-height: 14px;
              letter-spacing: 0px;
              color: #bb7165;
              text-align: justify;
            }
          }
        }
      }

      .desc_container.expanded {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: unset !important;
        white-space: pre-wrap;
        -webkit-line-clamp: unset !important;
      }

      .desc_container {
        margin-top: 16px;
        text-align: justify;
        height: 70px;
        overflow: hidden;
        position: relative;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        white-space: pre-wrap;
        -webkit-line-clamp: 3;

        p {
          font-family: var(--effra-font);
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0px;
          color: #707f82;
        }
      }

      .more_btn {
        margin-bottom: 16px;
        cursor: pointer;
        p {
          font-family: var(--effra-font);
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0px;
          color: var(--main-red-color);
          text-decoration: underline;
        }
      }
      .said {
        margin-top: auto;
        .title {
          margin-bottom: 23px;

          p {
            font-family: var(--effra-font);
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0px;
            text-align: center;
            position: relative;
            color: #707f82;
            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              width: 100px;
              height: 1px;
              background-color: #e5e6f2; /* Adjust the color as needed */
            }

            &::before {
              left: 50px;

              @media screen and (max-width: 992px) {
                left: -24px;
              }
            }

            &::after {
              right: 50px;

              @media screen and (max-width: 992px) {
                right: -24px;
              }
            }
          }
        }

        .desc {
          p:first-child {
            margin-left: 24px;
          }
          p:last-child {
            margin-right: 24px;
          }
          p {
            font-family: var(--effra-font);
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: center !important ;
            color: var(--main-blue-color) !important;
          }
        }
      }
    }
  }
}
