.swiper_container {
  margin-top: 40px;

  .box {
    width: 568px;
    height: 127.5px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e5e6f2;
    box-shadow: 0px 10px 25px 0px #0000000a;
    margin-bottom: 24px;

    @media screen and (max-width: 450px) {
      width: 100%;
      height: auto;
    }
    .tag {
      background-color: rgb(29 200 128 / 10%);
      width: 41px;
      height: 22.5px;
      padding: 2.5px 8px 6px 8px;
      border-radius: 16px;
      margin-bottom: 10px;
      p {
        font-family: var(--effra-font);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0px;
        text-align: center;
        color: #1dc880;
      }
    }

    .desc {
      margin-bottom: 10px;
      p {
        font-family: var(--effra-font);
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: right;
      }

      span {
        font-weight: 700;
      }
    }

    .link_container {
      display: flex;
      align-items: center;
      color: #e6ddc6;

      p {
        font-family: var(--effra-font);
        font-size: 14px;
        font-weight: 400;
        text-align: right;
      }
      .icon_container {
        margin-right: 13px;
        svg {
          font-size: 16px;
        }
      }
    }
  }
}
