section.poetry_page {
  .slider_container {
    width: 100%;
    border-radius: 163.5px 10px 10px 0px;

    border: 1px solid #e5e6f2;
    background-color: #ffffff;
    margin-top: 30px;
    padding: 32px 40px 27.5px;

    @media screen and (max-width: 450px) {
      border-radius: 93px 10px 10px 0px;
      padding: 8px;
      padding-bottom: 15.5px;
    }
    .sec_title {
      text-align: right;
      margin-bottom: 20px;
      h3 {
        color: var(--main-blue-color);
        @media screen and (max-width: 450px) {
          font-size: 16px !important;
        }
      }
    }

    .slider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;

        .content_container {
          width: 984.95px;
          min-height: 140px;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          position: relative;
          background: linear-gradient(
            180deg,
            rgb(212 197 154 / 40%) 26.43%,
            rgba(212, 197, 154, 0) 100%
          );

          border-radius: 61px 10px 10px 10px;

          @media screen and (max-width: 992px) {
            width: 80%;
          }
          @media screen and (max-width: 450px) {
            width: 293.57px !important;
            min-height: 79px;
          }
        }
        .img_container {
          position: absolute;
          left: -5px;
          top: 0;
          width: 72.71px;
          height: 100%;

          @media screen and (max-width: 450px) {
            width: 28.82px;
            height: 79px;
            left: 3px;
            top: -7px;
          }
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }

        .text_container {
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 992px) {
            flex-direction: column;
          }

          p,
          span {
            font-family: var(--effra-font);
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: right;

            font-size: 20px;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: right;
          }
          span {
            font-weight: 700 !important;
            @media screen and (max-width: 450px) {
              &:nth-child(2) {
                display: none;
              }
            }
          }

          p:first-child {
            margin-left: 99px;
            @media screen and (max-width: 992px) {
              margin-left: 0;
              margin-bottom: 9px;
            }
          }
          p:last-child {
            margin-right: 99px;
            @media screen and (max-width: 992px) {
              margin-right: 0;
            }
          }
        }
      }

      #swiperbtn {
        position: absolute;
        z-index: 10;
        top: 30%;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        transition: all 0.3s ease-in-out;
        display: flex;
        cursor: pointer;
        border: 1.5px solid var(--main-blue-color);
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 450px) {
          width: 24px;
          height: 24px;
        }
        svg {
          margin: auto;
          color: var(--main-blue-color);
          width: 14.19px;
          height: 16.22px;
          @media screen and (max-width: 450px) {
            width: 7.21px;
            height: 7.21px;
          }
        }
      }

      // Position the navigation buttons
      .prevbtn {
        left: 0 !important;

        svg {
          transform: rotate(180deg);
        }
      }

      .nextbtn {
        right: 0 !important;
      }
    }

    hr {
      border-color: #e5e6f2;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .poet_info {
      display: flex;
      align-items: center;
      margin-top: 18px;
      color: var(--main-blue-color);
      text-decoration: none;
      @media screen and (max-width: 450px) {
        margin-right: 8px;
      }
      .img_container {
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        background-color: rgba(229, 230, 242, 1);
        box-shadow: 0px 7.232143878936768px 5.303572177886963px 0px
          rgba(0, 0, 0, 0.05);
        @media screen and (max-width: 450px) {
          width: 43.74px;
          height: 43.01px;
        }

        background-color: #ffffff;

        box-shadow: 0px 4px 6px #00000070;
        border: 1px solid var(--main-beige-color);
        overflow: hidden;
        // &::after {
        //   box-shadow: 0px 7.232143878936768px 5.303572177886963px 0px
        //     rgba(0, 0, 0, 0.05);
        //   content: "";
        //   position: absolute;
        //   top: -8px;
        //   left: -8px;
        //   width: calc(100% + 16px);
        //   height: calc(100% + 16px);
        //   border: 8px solid #ffffff;
        //   border-radius: 50%;
        //   box-sizing: border-box;
        // }

        img {
          margin: auto;
          width: 100%;
          height: 100%;

          object-fit: contain;
        }
      }

      .text_container {
        margin-right: 10px;
        .name {
          p {
            font-family: var(--effra-font);
            font-size: 14px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 0em;
          }
        }

        a {
          text-decoration: none;
          cursor: pointer;
        }
        .tag {
          background-color: rgb(212 197 154 / 10%);
          padding: 2.5px 8px 6px 8px;
          border-radius: 16px;
          color: #e6ddc6;

          p {
            font-family: var(--effra-font);
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0px;
            text-align: center;
          }
        }
      }
    }
  }

  .info_container {
    display: flex;
    align-items: flex-start;
    margin-top: 47px;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }

    .poet_info {
      box-shadow: 0px 21px 35px 0px #00000008;
      background-color: #ffffff;
      position: relative;
      z-index: 3;
      border: 1px solid #e5e6f2;
      border-radius: 10px;
      border: 1px solid #e5e6f2;
      width: 742px;
      padding-top: 40px;
      padding-right: 10px;

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      @media screen and (max-width: 450px) {
        margin: 0px;
        margin-bottom: 24px;
        border-top-right-radius: 10px;
      }

      .timelineSection {
        position: relative;
        padding-left: 20px;
        margin-right: 29px;
        overflow: unset;
        padding-bottom: 40px;

        &:not(:last-child) {
          &::before {
            content: "";
            position: absolute;
            right: -17px;
            top: 10px;
            bottom: 0;
            width: 2px;
            border-left: 2px dashed #11292f;
            height: 94%;
            z-index: 1;
          }
        }

        .sec_title {
          position: relative;
          margin-bottom: 20px;

          &::before {
            content: "";
            position: absolute;
            right: -19px;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 9px;
            background-color: #11292f;
            border-radius: 50%;
            z-index: 3;
          }

          h3 {
            font-size: 16px !important;
            font-weight: 700;
            color: var(--main-blue-color);
          }
        }
        .info_sec {
          border-bottom: 2px solid #e5e6f2;
          padding: 24px;

          @media screen and (max-width: 992px) {
            padding: 11px;
          }

          .boxes_container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            @media screen and (max-width: 992px) {
              overflow: hidden;
            }

            @media screen and (max-width: 450px) {
              grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 992px) {
              .box:nth-child(-n + 5) {
                grid-column: span 1;
                grid-row: span 1;
              }
              .box:nth-child(n + 5) {
                grid-column: span 2;
              }
            }

            .box {
              position: relative;
              padding-right: 12px;
              margin-top: 20px;
              &:not(:last-child) {
                @media screen and (max-width: 992px) {
                  padding-bottom: 16px !important;
                  &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #e5e6f2;
                    width: 116%;
                    height: 2px;
                  }
                }
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                z-index: 22;
                background-color: #e5e6f2;
                width: 1px;
                height: 90%;
              }

              .title {
                margin-bottom: 10px;
                p {
                  font-family: var(--effra-font);
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 27px;
                  letter-spacing: 0em;
                  text-align: right;
                  color: #707f82;
                }
              }
              .name {
                p {
                  font-family: var(--effra-font);
                  font-size: 14px;
                  font-weight: 700;
                  letter-spacing: 0em;
                  text-align: right;
                }
              }
            }
          }
        }

        .desc {
          p {
            font-family: var(--effra-font);
            font-size: 16px;
            font-weight: 400;
            color: #11292f;
          }
        }
        .slider_container {
          .filter_sec {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            @media screen and (max-width: 450px) {
              flex-direction: column-reverse;
              align-items: flex-end;
              width: 100%;
              justify-content: center;
            }
            .shows {
              p {
                font-family: var(--effra-font);
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                color: #979bb6;

                span {
                  font-family: var(--effra-font);
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 23px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #11292f;
                  display: inline;
                }
              }
            }

            .filter_methods {
              display: flex;
              @media screen and (max-width: 450px) {
                align-items: flex-end;
                width: 100%;
                justify-content: center;
              }
              .box {
                max-width: fit-content !important;
              }
            }
          }
        }
      }
    }

    .place_info {
      width: 458px;
      // height: 621px;
      border-radius: 92px 10px 10px 10px;
      border: 1px solid #e5e6f2;
      background-color: #ffffff;
      @media screen and (max-width: 450px) {
        width: 100%;
        border-radius: 51px 10px 10px 10px;
      }
      @media screen and (max-width: 992px) {
        margin-top: 16px;
      }
      .container {
        margin: 24px;
        .sec_title {
        }
        .desc {
          margin-top: 10px;
          margin-bottom: 22px;
          p {
            font-family: var(--effra-font);
            font-size: 14px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: right;
          }
        }
        .list_container {
          li {
            padding-top: 14px;
            padding-bottom: 14px;
            border-bottom: 1px solid #e5e6f2;
            list-style-type: none;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .icon_container {
              width: 24px;
              height: 24px;
              border-radius: 4px;
              background-color: rgb(230 221 198 / 10%);
              display: flex;

              svg {
                margin: auto;
                width: 13.33px;
                height: 11.79px;
              }
            }

            .text_container {
              display: flex;
              align-items: flex-start;
              width: 88%;

              .name {
                margin-right: 10px;
                margin-left: 10px;
                p {
                  color: #11292f;
                  opacity: 60%;
                }
              }

              .answer {
                p {
                }
              }

              // group

              .answer,
              .name {
                p {
                  font-family: var(--effra-font);
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 27px;
                  letter-spacing: 0em;
                }
              }
            }

            &:nth-child(3) {
              .text_container {
                .name {
                  width: 50%;
                }
              }
            }
          }
        }
        .imgs_container {
          display: flex;
          margin-top: 24px;
          .img_container {
            width: 135.83px;
            height: 133px;
            border-radius: 10px;
            &:not(:last-child) {
              margin-left: 10px;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
