.page_header {
  // border-radius: 139px 0px 40px 40px;
  height: 441px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  margin-top: 45px;
  padding-top: 77px;

  @media screen and (max-width: 450px) {
    // background-size: cover;
    // background-position: 20%;
    // background-position-y: 20%;
    height: 159px;
    padding-top: 20px;
    // border-radius: 40px 0px 40px 40px;
  }

  .img_container {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(100%);

    img {
      // object-fit: cover;
      // width: 100%;
      // height: 100%;

      // object-fit: fill;
      // width: 100%;
      // height: 115%;

      object-fit: cover;
      width: 100%;
      height: 113%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(17, 41, 47, 0.789);
    opacity: 70%;
    // border-radius: 139px 0px 0px 0px;
  }

  h3 {
    margin: 0 !important;
    font-family: var(--req3a-font);
    font-size: 110px;
    // font-weight: 700;
    line-height: 80px;
    letter-spacing: 1px;
    text-align: right;
    color: rgba(238, 228, 184, 1);
    // color: ;

    @media screen and (max-width: 450px) {
      font-size: 30px;
    }
  }
}
