section {
  .sec_title {
    h3 {
      font-family: var(--effra-font) !important;
    }
  }
  .tabContent_container {
    box-shadow: 0px 21px 35px 0px #00000008;
    background-color: #ffffff;
    padding-top: 41px;
    margin-top: 67px;
    position: relative;
    z-index: 3;
    border: 1px solid #e5e6f2;
    border-radius: 10px;
    padding: 40px;
    // display: flex;

    @media screen and (max-width: 450px) {
      padding: 32px 19px;
    }
    .timelineSection {
      position: relative;
      overflow: unset;

      .slider_container {
        .filter_sec {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row-reverse;
          @media screen and (max-width: 450px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            width: 100%;
            justify-content: center;
          }
          .shows {
            flex-basis: 10%;

            p {
              font-family: var(--effra-font);
              font-size: 12px;
              font-weight: 400;
              line-height: 23px;
              letter-spacing: 0em;
              text-align: left;
              color: #979bb6;

              span {
                font-family: var(--effra-font);
                font-size: 12px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                color: #11292f;
                display: inline;
              }
            }
          }

          .filter_methods {
            display: flex;
            width: 100%;
            align-items: center;

            @media screen and (max-width: 450px) {
              align-items: flex-end;
              width: 100%;
              // justify-content: flex-end;
              align-items: flex-start;
              flex-direction: column;
              margin-top: 16px;
            }
            .box {
              max-width: fit-content !important;
              @media screen and (max-width: 450px) {
                width: 100%;
                max-width: unset !important;
              }

              .form_container {
                border-radius: 40px;
                border: 1px solid rgba(229, 230, 242, 1);
                display: flex;
                width: 199px;
                height: 47px;
                border-radius: 30px;
                align-items: center;
                position: relative;
                overflow: hidden;
                padding: 10px 16px;
                margin-left: 16px;
                @media screen and (max-width: 450px) {
                  width: 100%;
                }

                input {
                  margin: auto;
                  border: none;
                  width: 100%;

                  &::placeholder {
                    font-family: var(--effra-font);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: right;
                    color: rgba(151, 155, 182, 1);
                  }
                  &:focus {
                    outline: none;
                  }
                }

                .icon_container {
                  position: absolute;
                  left: 10px;
                  top: 13px;
                  svg {
                    path,
                    line {
                      stroke: rgba(229, 230, 242, 1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
