.swiper_container {
  margin-top: 24px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 16px;
  height: 700px;
  margin-left: -77px;

  @media screen and (max-width: 450px) {
    margin-top: -22px;
    margin-bottom: 0;
    height: auto;
  }

  .vertical_swiper {
    @media screen and (min-width: 992px) {
      height: 100%;
      width: 500px;
    }
  }

  .places_container {
    transition: all 0.3s ease-in-out;
    .places {
      transition: all 0.3s ease-in-out;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      cursor: pointer;

      &.active {
        .img_container {
          transform: scale(1.2);
          img {
            border: 2px solid #daceaf;
          }
        }

        .name {
          margin-top: 24px;
          p {
            color: #713540;
          }
        }
      }

      .img_container {
        margin-top: 10px;
        border-radius: 16px;
        transition: all 0.3s ease-in-out;

        img {
          transition: all 0.3s ease-in-out;
          border-radius: 16px;
          width: 250px;
          height: 150px;
          border: 2px solid transparent;
          object-fit: fill;
          box-shadow: 0px 4px 6px #00000070;

          @media screen and (max-width: 450px) {
            width: 150px;
            height: 100px;
          }
        }
      }
      .name {
        margin-top: 16px;
        p {
          font-family: var(--effra-font) !important;
          color: var(--main-blue-color);
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}
